<header id="header" class="clearfix" data-ma-theme="blue">
    <ul class="h-inner">
        <li class="hi-trigger ma-trigger" data-ma-action="sidebar-open" data-ma-target="#sidebar">
            <div class="line-wrap">
                <div class="line top"></div>
                <div class="line center"></div>
                <div class="line bottom"></div>
            </div>
        </li>

        <li class="hi-logo hidden-xs">
            <a href="index.html">Our Bible</a>
        </li>

        <li class="pull-right">
            <ul class="hi-menu">

                <li class="dropdown">
                    <a data-toggle="dropdown" href="">
                        <i class="him-icon zmdi zmdi-notifications"></i>
                        <i class="him-counts">9</i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg pull-right">
                        <div class="list-group him-notification">
                            <div class="lg-header">
                                Notification

                                <ul class="actions">
                                    <li class="dropdown">
                                        <a href="" data-ma-action="clear-notification">
                                            <i class="zmdi zmdi-check-all"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="lg-body">
                                <a class="list-group-item media" href="">
                                    <div class="pull-left">
                                        <img class="lgi-img" src="/Content/materialized/img/demo/profile-pics/1.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lgi-heading">David Belle</div>
                                        <small class="lgi-text">Cum sociis natoque penatibus et magnis dis parturient montes</small>
                                    </div>
                                </a>
                                <a class="list-group-item media" href="">
                                    <div class="pull-left">
                                        <img class="lgi-img" src="/Content/materialized/img/demo/profile-pics/2.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lgi-heading">Jonathan Morris</div>
                                        <small class="lgi-text">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>
                                    </div>
                                </a>
                                <a class="list-group-item media" href="">
                                    <div class="pull-left">
                                        <img class="lgi-img" src="/Content/materialized/img/demo/profile-pics/3.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lgi-heading">Fredric Mitchell Jr.</div>
                                        <small class="lgi-text">Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</small>
                                    </div>
                                </a>
                                <a class="list-group-item media" href="">
                                    <div class="pull-left">
                                        <img class="lgi-img" src="/Content/materialized/img/demo/profile-pics/4.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lgi-heading">Glenn Jecobs</div>
                                        <small class="lgi-text">Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque</small>
                                    </div>
                                </a>
                                <a class="list-group-item media" href="">
                                    <div class="pull-left">
                                        <img class="lgi-img" src="/Content/materialized/img/demo/profile-pics/4.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lgi-heading">Bill Phillips</div>
                                        <small class="lgi-text">Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat</small>
                                    </div>
                                </a>
                            </div>

                            <a class="view-more" href="">View Previous</a>
                        </div>
                    </div>
                </li>
                
                <li class="dropdown">
                    <a data-toggle="dropdown" href=""><i class="him-icon zmdi zmdi-more-vert"></i></a>
                    <ul class="dropdown-menu dm-icon pull-right">
                        <li class="skin-switch hidden-xs">
                            <span class="ss-skin bgm-lightblue" data-ma-action="change-skin" data-ma-skin="lightblue"></span>
                            <span class="ss-skin bgm-bluegray" data-ma-action="change-skin" data-ma-skin="bluegray"></span>
                            <span class="ss-skin bgm-cyan" data-ma-action="change-skin" data-ma-skin="cyan"></span>
                            <span class="ss-skin bgm-teal" data-ma-action="change-skin" data-ma-skin="teal"></span>
                            <span class="ss-skin bgm-orange" data-ma-action="change-skin" data-ma-skin="orange"></span>
                            <span class="ss-skin bgm-blue" data-ma-action="change-skin" data-sma-kin="blue"></span>
                        </li>
                        <li class="divider hidden-xs"></li>
                        <li class="hidden-xs">
                            <a data-ma-action="fullscreen" href=""><i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen</a>
                        </li>
                        <li>
                            <a data-ma-action="clear-localstorage" href=""><i class="zmdi zmdi-delete"></i> Clear Local Storage</a>
                        </li>
                        <li>
                            <a href=""><i class="zmdi zmdi-face"></i> Privacy Settings</a>
                        </li>
                        <li>
                            <a href=""><i class="zmdi zmdi-settings"></i> Other Settings</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <!-- Top Search Content -->
    <div class="h-search-wrap">
        <div class="hsw-inner">
            <i class="hsw-close zmdi zmdi-arrow-left" data-ma-action="search-close"></i>
            <input type="text">
        </div>
    </div>
</header>




@*<header class="noo-header" id="noo-header">
    <div class="navbar-wrapper">
        <div class="navbar navbar-default fixed-top shrinkable">
            <div class="container-boxed max">
                <div class="navbar-header">
                    <h1 class="sr-only">JobMonster</h1>
                    <a class="navbar-toggle collapsed" data-toggle="collapse" data-target=".noo-navbar-collapse">
                        <span class="sr-only">Navigation</span>
                        <i class="fa fa-bars"></i>
                    </a>

                    <a href="./" class="navbar-brand">
                        <img class="noo-logo-img noo-logo-normal" src="/content/images/giveabible-logo.png" alt="">
                        <img class="noo-logo-mobile-img noo-logo-normal" src="images/logo-mobile.png" alt="">
                    </a>
                </div>
                <nav class="collapse navbar-collapse noo-user-navbar-collapse">
                    <ul class="navbar-nav sf-menu">
                        <li>
                            <a href="member.html"><i class="fa fa-sign-in"></i> Login</a>
                        </li>
                        <li class="button_socical fb">
                            <i class="fa fa-facebook-square"></i>
                            <em class="fa-facebook-square">Login with Facebook</em>
                        </li>
                        <li class="button_socical gg">
                            <i class="fa fa-google-plus"></i>
                            <em class="fa-google-plus">Login with Google</em>
                        </li>
                        <li class="button_socical linkedin">
                            <i class="fa fa-linkedin-square"></i>
                            <em class="fa-linkedin-square">Login with LinkedIn</em>
                        </li>
                        <li>
                            <a href="member.html"><i class="fa fa-key"></i> Register</a>
                        </li>
                    </ul>
                </nav>
                <nav class="collapse navbar-collapse noo-navbar-collapse">
                    <ul class="navbar-nav sf-menu">
                        <li class="current-menu-item align-left">
                            <a href="./">Home</a>
                            <ul class="sub-menu">
                                <li><a href="home-resume.html">Home Resume</a></li>
                                <li><a href="home-2.html">Home Ver.2</a></li>
                                <li><a href="home-map.html">Home Search Map</a></li>
                            </ul>
                        </li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item-member-profile login-link align-center">
                                <a href="#" class="member-links member-login-link" data-rel="loginModal">
                                    <i class="fa fa-sign-in"></i>&nbsp;Login
                                </a>
                            </li>
                            <li class="nav-item-member-profile register-link">
                                <a class="member-links member-register-link" href="#" data-rel="registerModal">
                                    <i class="fa fa-key"></i>&nbsp;Register
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="align-center">
                                <a href="#">Profile</a>
                                <ul class="sub-menu">
                                    <li><a href="@Url.Action("Index", "PostBook")">Post a listing</a></li>
                                    <li><a href="home-resume.html">My listing</a></li>
                                    <li><a href="home-2.html">My bid</a></li>
                                </ul>
                            </li>
                            <li class="login-link align-center">
                                <a href="@Url.Action("Logout", "Login")" class="member-links">
                                    <i class="fa fa-sign-out"></i>&nbsp;Logout
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>*@