@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Admin</title>
    <!-- Vendor CSS -->
    <link href="/Content/materialized/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="/Content/materialized/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <!-- CSS -->
    <link href="/Content/materialized/css/app_1.min.css" rel="stylesheet">
    <link href="/Content/materialized/css/app_2.min.css" rel="stylesheet">
    <link href="/Content/materialized/vendors/bower_components/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
</head>
<body>
    <div class="login-content">
        @RenderBody()
    </div>

    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
        <div class="ie-warning">
            <h1 class="c-white">Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="img/browsers/chrome.png" alt="">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="img/browsers/firefox.png" alt="">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="img/browsers/opera.png" alt="">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="img/browsers/safari.png" alt="">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="img/browsers/ie.png" alt="">
                            <div>IE (New)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Javascript Libraries -->
    <script src="/Content/materialized/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/Content/materialized/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Content/materialized/vendors/bower_components/Waves/dist/waves.min.js"></script>
    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->
    <script src="/Content/materialized/js/app.min.js"></script>
    <script src="/Content/materialized/vendors/bower_components/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="/Content/js/common.js"></script>
</body>
</html>



<script type="text/javascript">
    $("#btnSignIn").click(function () {
        var username = $("#txtEmail").val();
        var password = $("#txtPassword").val();
        if (!isBlank(username) && !isBlank(password)) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Validate", "Login")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    Email: username,
                    Password: password
                }),
                success: function (ret) {
                    if (ret != undefined && ret != null) {
                        if (ret.IsSuccess) {
                            document.location.href = '/';
                        }
                        else {
                            swal({
                                title: "Error",
                                text: ret.Message,
                                type: "warning",
                                showCancelButton: false,
                                confirmButtonText: "Ok",
                            }).then(function () {

                            });
                        }
                    }
                },
                dataType: 'json',
                error: function (xhr, msg, sd) {
                    swal({
                        title: "Error",
                        text: "Invalid email or password",
                        type: "warning",
                        showCancelButton: false,
                        confirmButtonText: "Ok",
                    }).then(function () {

                    });
                }
            });
        }
        else {
            swal({
                title: "Error",
                text: "Please fill in email and password",
                type: "warning",
                showCancelButton: false,
                confirmButtonText: "Ok",
            }).then(function () {

            });
        }
    });
</script>