@model BuyMeABible.Data.Model.User

<div class="card">
    <div class="card-header">
        <h2>
            Send Message to @Model.FirstName @Model.LastName
            <small>
                This will send an email
            </small>
        </h2>
    </div>

    <div class="card-body card-padding">
        @using (Html.BeginForm("Send", "Profile", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @role = "form" }))
        {
            <input type="hidden" name="to" id="to" value="@Model.Id.ToString()" />
            <div class="form-group fg-line">
                <label for="exampleInputEmail1">Subject</label>
                <input class="form-control input-sm" id="subject" name="subject" placeholder="Subject" required>
            </div>
            <div class="form-group fg-line">
                <label for="exampleInputPassword1">Message</label>
                <textarea class="form-control" id="message" name="message" rows="14" placeholder=""></textarea>
            </div>

            <button type="submit" class="btn btn-primary btn-sm m-t-10 waves-effect">Send</button>

        }
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $("#message").summernote();
    })
</script>
