<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body card-padding">
                Your message have been sent.
            </div>
        </div>
    </div>


</div>
